/* Estilo para o botão de exclusão */
.btn_delete_service {
    color: #000000; /* Cor do texto (vermelho) */
    background-color: transparent; /* Sem fundo */
    border: none; /* Remove bordas */

  }
  
  
 