/*COLORS */
:root {
  --primary: #007bff;
  --red: #be0e0e;
  --dark: #121315;
  --blue: #b3e9e7;

  --yellow: #f2ff00;
  --gold: #daa520;
  --teal: #13ff00;
  --cyan: #e0eeee;

  --indigo: #5011b6;
  --purple: #6f42c1;
  --orange: #fd7e14;
  --green: #4ade80;

  --white: #ffffff;
  --gray: #6c757d31;
  --gray-dark: #343a40;

  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;

  --f-spinner-color-2: rgba(17, 24, 28, 0.8);
  --danger: #dc3545;
  --light: #f8f9fa;

  --card: #211d1d;
}

/* container_products */
.container_products {
  width: 82%;
  height: 98%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid var(--secondary);
  overflow-y: hidden;
  padding: 0.5rem;
  margin-top: 1vh;
  margin-right: 1vw;
  box-shadow: 1px 1px 1rem var(--secondary);
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--light);
  gap: 15px;
}
/* title_register_products */
.title_register_products{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    margin-left: 2%;
}
/* form_products */
.form_products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 50vh;
  padding: 20px;
  gap: 15px;
  margin-top: 10vh;
}
/* form_group */
.form_group {
  width: 100%;
  margin-top: 30vh;
}
.form_section {
  width: 100%;
}

.form_section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}
/* form_section_preco */
.form_section_preco {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;

  margin-top: 15px;
  .area_preco {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    input {
      width: 35vw;
    }
  }
}
/* form_section_2 */
.form_section_2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;

  width: 100%;
}
/* form_row */
.form_row {
  width: 50%;
  height: 100%;
}

/* area_btn_products */
.area_btn_products {
  width: 40%;
  margin-left: 60%;
  margin-top: 5vh;
}
/* btn_add_products */
.btn_add_products {
  width: 80vw;
  left: 0;
}
