




.custom_modal_funcionarios.ant-modal {
  width: 80vw !important; /* Define a largura do modal */
  height: 100vh; /* Limita a altura do modal */
  overflow-y: hidden; /* Adiciona rolagem vertical se o conteúdo exceder a altura */
  position: absolute;
  top: 0;
  margin-left: 10vw;

  button{
    margin-bottom: 2vh;
  }
}

/* .custom_modal_funcionarios .ant-modal-content {
  
  } */
/* form_area_officials */
.form_area_officials {
  margin-bottom: 5%;
}

/* form-row */
.form-row {
  align-items: center;
  justify-content: space-between;
  .input_nome_oofficials {
    width: 30vw;
  }
}
