/*COLORS */
:root {
  --primary: #007bff;
  --red: #be0e0e;
  --dark: #121315;
  --blue: #b3e9e7;

  --yellow: #f2ff00;
  --gold: #daa520;
  --teal: #13ff00;
  --cyan: #e0eeee;

  --indigo: #5011b6;
  --purple: #6f42c1;
  --orange: #fd7e14;
  --green: #4ade80;

  --white: #ffffff;
  --gray: #6c757d31;
  --gray-dark: #343a40;

  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;

  --f-spinner-color-2: rgba(17, 24, 28, 0.8);
  --danger: #dc3545;
  --light: #f8f9fa;

  --card: #211d1d;
}

/* container_costomers */
.container_costomers {
 
  width: 82%;
  height: 98vh;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
  margin-right: 1vw;
  box-shadow: 1px 1px 1rem var( --secondary);
  border: 1px solid var( --secondary);
  border-radius: 5px;
}
/* header_clients */
.header_clients {
  border-bottom: 1px solid var(--gray);
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--cyan);
  left: 0;
  z-index: 99;
  /* area_icon_clients */
  .area_icon_clients {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      width: 80%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2vw;
      margin-bottom: 0;
    }
  }

  ol {
  
    width: 35%;
    height: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
   
    
    li {
      
      font-size: 14px;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: auto;
      a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1vw;
        font-size: 14px;
       
      }
    }
    li:hover {
      color: var(--info);
    }
    p {
    
      font-size: 14px;
      padding: 0.2rem;
      margin-bottom: 0;
    }
  }
}
